<template>
  <div class="messenger">
    <div class="preloader-main"></div>
    <div class="container">
      <div class="messenger__wrapper">
        <div class="messenger__header">
          <router-link to="/">
            <div class="messenger__logo">
              <img src="../assets/image/logo.png" alt="logo" /></div
          ></router-link>
          <div class="messenger__person">
            <div class="messenger__avatar">
              <span>{{ user.nickname[0] }}</span>
            </div>
            <p class="messenger__nickname">{{ user.nickname }}@{{ user.id }}</p>
          </div>
          <button class="messenger__button" @click="logOut">
            LOGOUT
            <div class="preloader" v-if="preloaderLogout"></div>
          </button>
        </div>

        <div class="messenger__all">
          <div class="messenger__left" v-if="chatsVisible">
            <div class="messenger__head">
              <div class="search">
                <input
                  class="search__input"
                  type="text"
                  placeholder="Search something..."
                  v-model="text"
                  @keydown="handleKeyDown($event, text)"
                />
              </div>
              <button class="messenger__btn" @click="openCreateChat">+</button>
            </div>
            <div class="messenger__chats">
              <div
                class="messeng"
                v-for="chat in chats"
                :key="chat.id"
                @click="openChat(chat.id, chat.user.nickname)"
              >
                <div class="messeng__wrapper">
                  <div class="messeng__avatar">
                    <span>{{ chat.user.nickname[0] }}</span>
                  </div>
                  <div class="messeng__right">
                    <div class="messeng__head">
                      <p class="messeng__nickname">{{ chat.user.nickname }}</p>
                      <div
                        class="messeng__count"
                        v-if="chat.messages?.unread_count !== 0"
                      >
                        <span>{{ chat.messages?.unread_count }}</span>
                      </div>
                    </div>
                    <div class="messeng__footer">
                      <div class="messeng__sms">
                        <div class="messeng__img" v-if="chat.messages?.files">
                          <img :src="chat.messages?.files" alt="photo" />
                        </div>
                        <div class="messeng__last" v-if="chat.messages?.text">
                          {{ chat.messages?.text }}
                        </div>
                      </div>
                      <span
                        class="messeng__date"
                        v-if="chat.messages?.created_at"
                      >
                        {{
                          chat.messages?.created_at.replace(/[TZ]/g, " ")
                        }}</span
                      >
                      <div class="messeng__marks">
                        <span
                          class="messeng__mark messeng__mark--right"
                          v-if="chat.messages?.sent || chat.messages?.delivered"
                        ></span>
                        <span
                          class="messeng__mark messeng__mark--left"
                          v-if="chat.messages?.delivered"
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="messenger__right" v-if="messagesVisible">
            <div class="messenger__head-user">
              <button class="messenger__head-btn" @click="closeChat">
                <svg
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.525 17.95L13.45 16.9L17.65 12.7H4.5V11.2H17.65L13.425 6.97505L14.5 5.92505L20.525 11.95L14.525 17.95Z"
                    fill="#1C1D1E"
                  />
                </svg>
              </button>
              <div class="messenger__avatar-user">
                <span>{{ user_chat[0] }}</span>
              </div>
              <p class="messenger__nickname">{{ user_chat }}</p>
            </div>

            <div class="messenger__correspondence">
              <div class="messenger__all-sms">
                <div
                  class="sms"
                  :class="{
                    sms__right: user.id === message.user_id,
                    sms__left: user.id !== message.user_id,
                  }"
                  v-for="message in messages.slice().reverse()"
                  :key="message.created_at"
                >
                  <p class="sms__text" v-if="message.text">
                    {{ message.text }}
                  </p>
                  <div class="sms__img" v-if="message?.files[0]">
                    <img :src="message?.files[0]" alt="photo" />
                  </div>
                  <div class="sms__info">
                    <span class="sms__date" v-if="message.created_at">{{
                      message.created_at.replace(/[TZ]/g, " ")
                    }}</span>
                    <div class="sms__marks">
                      <span
                        class="sms__mark sms__mark--right"
                        v-if="
                          message.sent === true || message.delivered === true
                        "
                      ></span>
                      <span
                        class="sms__mark sms__mark--left"
                        v-if="message.delivered === true"
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="messenger__input-box">
              <div class="box">
                <input
                  type="text"
                  placeholder="Wrire message..."
                  v-model="send_message.text"
                />
                <button
                  @click="sendMessage(this.selectedChatId)"
                  :class="{ disabled: !sendValid }"
                >
                  SEND
                  <div class="preloader" v-if="preloaderSend"></div>
                </button>
              </div>
              <input
                type="file"
                id="file"
                ref="file"
                accept=".jpg, .jpeg, .png"
                v-on:change="handleFileUpload()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" v-if="modal">
      <div class="modal__wrapper">
        <p class="modal__title">Enter another person's id</p>
        <input type="text" v-model="chat_id" />
        <span class="modal__error" v-if="id_error">{{ id_error }}</span>
        <button class="modal__btn" @click="createChat()">
          CREATE
          <div class="preloader" v-if="preloaderCreate"></div>
        </button>
        <button class="modal__btn" @click="closeModal()">CANCEL</button>
      </div>
    </div>
  </div>
</template>

<script>
import { io } from "socket.io-client";
import axios from "@/api/api";
export default {
  name: "HomeView",
  data() {
    return {
      preloader: false,
      preloaderLogout: false,
      preloaderCreate: false,
      preloaderSend: false,
      user: null,
      chat_id: "",
      modal: false,
      chats: [],
      user_chat: null,
      messages: [],
      send_message: {},
      selectedChatId: null,
      id_error: "",
      selectedFile: false,

      messagesVisible: false,
      chatsVisible: true,
    };
  },
  created() {
    // Прілоадер при створенні
    setTimeout(() => {
      document.querySelector(".preloader-main").style.display = "none";
      document.querySelector(".container").style.display = "block";
    }, 1000);

    const token = localStorage.getItem("access_token");
    this.user = JSON.parse(localStorage.getItem("user"));

    // Підключення сокетів
    this.socket = io("http://chatterly-back.staj.bid/messages", {
      extraHeaders: {
        Authorization: `Bearer: ${token}`,
      },
    });
    this.socket.on("msgToClient", async (message) => {
      await this.getChats();
      if (this.selectedChatId === message.chat_id) {
        await this.openChat(message.chat_id, this.user_chat);
      }
    });
    this.socket.on("disconnect", () => {
      console.log("disconnect");
    });
    this.socket.on("error", (message) => {
      console.log("error:" + message);
    });

    this.getChats().then();
  },
  computed: {
    sendValid() {
      return !!this.send_message?.text || this.selectedFile;
    },
  },
  methods: {
    // Метод для виходу
    logOut() {
      this.preloaderLogout = true;
      axios
        .get("/auth/logout")
        .then(() => {
          this.preloaderLogout = false;
          localStorage.clear();
          this.$router.push({ name: "forma" });
        })
        .catch((e) => {
          console.log(e);
        });
    },

    // Відкриття вікна для створення чату
    openCreateChat() {
      this.modal = true;
    },

    closeModal() {
      this.modal = false;
      this.chat_id = "";
    },

    // Відкриття чата
    async openChat(chat_id, nickname) {
      try {
        this.messages = (await axios.get(`/messages/${chat_id}`)).data.messages;
      } catch (e) {
        console.log(e);
      }
      this.user_chat = nickname;
      this.selectedChatId = chat_id;

      this.messagesVisible = true;

      if (window.innerWidth < 655) {
        this.chatsVisible = false;
      }
    },

    closeChat() {
      this.messagesVisible = false;
      this.chatsVisible = true;
    },

    // Створення нового чату
    createChat() {
      this.preloaderCreate = true;
      axios
        .post("/chats", {
          id: this.chat_id,
        })
        .then(async () => {
          await this.getChats();
          this.modal = false;
          this.preloaderCreate = false;
        })
        .catch((e) => {
          console.log(e);
          this.id_error = e.response.data.errors.id.constraints[0];
        });
    },

    // Отримання усіх чатів
    async getChats() {
      try {
        this.chats = (await axios.get("/chats")).data;
      } catch (e) {
        console.log(e);
      }
    },

    // Пошук чату по натисканню Enter
    async handleKeyDown(event, universal) {
      if (event.keyCode === 13) {
        // Код клавиши Enter
        await this.getChatsWithFilter(universal);
      }
    },

    // Отримання чату по пошуку у фільтрі
    async getChatsWithFilter(str) {
      try {
        if (str.length) {
          this.chats = (await axios.get(`/chats?universal=${str}`)).data;
        } else await this.getChats();
      } catch (e) {
        console.log(e);
      }
    },

    // Запис обраного файлу чи фото
    handleFileUpload() {
      this.selectedFile = true;
    },

    // Відправлення повідомлення
    async sendMessage(chat_id) {
      let formData = new FormData();
      if (this.$refs.file.files[0] && this.selectedFile)
        formData.append("files", this.$refs.file.files[0]);
      if (this.send_message.text)
        formData.append("text", this.send_message.text);
      const token = localStorage.getItem("access_token");
      this.preloaderSend = true;

      axios
        .post(`/messages/${chat_id}`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: `Bearer ${token}`,
          },
        })
        .then(async () => {
          await this.openChat(chat_id, this.user_chat);
          this.send_message.text = "";
          this.selectedFile = false;
          document.getElementById("file").value = "";
          this.preloaderSend = false;
          await this.getChats();
        })
        .catch(function () {
          alert("Server Error");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  // max-width: 1360px;
  // width: 100%;
  padding: 0 20px;
  margin: auto;
  display: none;

  @media (max-width: 655px) {
    padding: 0 10px;
  }
}
// Усе наше вікно
.messenger {
  width: 100%;

  &__header {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 15px 0;
    border-bottom: 1px solid grey;

    @media (max-width: 655px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__logo {
    max-width: 120px;
    width: 100%;
    height: 40px;

    & img {
      object-fit: contain;
    }

    @media (max-width: 655px) {
      margin: auto;
      max-width: 85px;
      height: 30px;
    }
  }

  &__person {
    display: flex;
    align-items: flex-end;
    justify-self: center;
    gap: 10px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;

    & span {
      font-size: 16px;
      font-weight: 500;
      color: black;
    }

    @media (max-width: 655px) {
      width: 25px;
      height: 25px;

      & span {
        font-size: 14px;
      }
    }
  }

  &__nickname {
    font-size: 18px;

    @media (max-width: 655px) {
      font-size: 14px;
    }
  }

  &__button {
    max-width: 100px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    cursor: pointer;

    background-color: #262da8;
    color: white;
    border: none;
    border-radius: 10px;

    @media (max-width: 655px) {
      max-width: 100%;
      height: 32px;
    }
  }

  &__all {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
    height: 100%;

    @media (max-width: 655px) {
      grid-template-columns: 1fr;
    }
  }

  // Ліва частина
  &__left {
    margin-top: 20px;
    padding-right: 15px;
    border-right: 1px solid grey;
    height: 100%;
    overflow: hidden;

    @media (max-width: 655px) {
      border-right: none;
      padding-right: 0px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
  }

  &__btn {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: none;
    background-color: #b6d0ff;
    color: #262da8;
    font-size: 24px;
    cursor: pointer;

    @media (max-width: 655px) {
      width: 30px;
      height: 30px;
      font-size: 18px;
    }
  }

  &__chats {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 15px;

    height: calc(100vh - 200px);

    margin-top: 20px;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #262da8;
    }
  }
  // Права частина
  &__right {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 68px 1fr 138px;

    @media (max-width: 655px) {
      margin-top: 10px;
      grid-template-rows: 54px 1fr 108px;
    }
  }

  &__head-user {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;

    @media (max-width: 655px) {
      padding-bottom: 10px;
      gap: 10px;
    }
  }

  &__head-btn {
    display: none;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border: none;
    background: transparent;

    & svg {
      transform: rotate(180deg);
    }

    @media (max-width: 655px) {
      display: flex;
    }
  }

  &__avatar-user {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;

    & span {
      font-size: 16px;
      font-weight: 500;
      color: black;
    }

    @media (max-width: 655px) {
      width: 30px;
      height: 30px;
    }
  }

  &__nickname {
    font-size: 16px;
  }

  &__correspondence {
    height: calc(100vh - 350px);
    margin-top: 20px;
    position: relative;
  }

  &__all-sms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #262da8;
    }
  }

  &__input-box {
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 655px) {
      padding-top: 10px;
      gap: 10px;
    }
  }
}
// Чати
.messeng {
  max-width: 100%;
  width: 100%;
  padding: 7px;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgb(231, 231, 231);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 44px 1fr;
    gap: 15px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;

    & span {
      font-size: 16px;
      font-weight: 500;
      color: black;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
  }

  &__head {
    display: flex;
    position: relative;
    gap: 5px;
    justify-content: space-between;
  }

  &__count {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;

    position: absolute;
    top: 0;
    right: 0;

    background-color: #262da8;

    & span {
      color: white;
      font-size: 12px;
    }
  }

  &__nickname {
    font-size: 16px;
  }

  &__footer {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
  }

  &__img {
    width: 30px;
    height: 30px;
  }

  &__sms {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__last {
    font-size: 14px;
    word-break: break-all;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    gap: 5px;

    & img {
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
  }

  &__date {
    font-size: 14px;
  }

  &__mark {
    position: absolute;
    right: 5px;
    top: 0;
    width: 5px;
    height: 10px;
    border-bottom: 2px solid #262da8;
    border-right: 2px solid #262da8;
    border-top: 0px solid #262da8;
    border-left: 0px solid #262da8;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-bottom: 3px;

    &--right {
      right: 5px;
      top: 0;
    }

    &--left {
      right: 10px;
      top: 0;
    }
  }
}
// Саме повідомлення
.sms {
  max-width: 350px;
  width: 100%;
  background-color: #aed0f7;

  padding: 10px;

  border-radius: 20px;

  @media (max-width: 655px) {
    max-width: 280px;
  }

  &__right {
    align-self: flex-end;
  }

  &__left {
    align-self: flex-start;
  }

  &__text {
    font-size: 18px;

    @media (max-width: 655px) {
      font-size: 16px;
    }
  }

  &__img {
    & img {
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    gap: 5px;
    position: relative;
    justify-content: flex-end;
    margin-top: 10px;
  }

  &__date {
    font-size: 14px;
    margin-right: 30px;

    @media (max-width: 655px) {
      font-size: 12px;
    }
  }

  &__mark {
    position: absolute;
    right: 5px;
    top: 0;
    width: 5px;
    height: 10px;
    border-bottom: 2px solid #262da8;
    border-right: 2px solid #262da8;
    border-top: 0px solid #262da8;
    border-left: 0px solid #262da8;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-bottom: 3px;

    &--right {
      right: 5px;
      top: 0;
    }

    &--left {
      right: 10px;
      top: 0;
    }
  }
}
// Подвал - ввід смс
.box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;

  @media (max-width: 655px) {
    gap: 15px;
  }

  & input {
    background: #eee;
    border-color: transparent;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 16px;

    &:focus {
      border: 2px solid rgb(4, 4, 122);
      outline: none;
    }

    @media (max-width: 655px) {
      font-size: 14px;
      padding: 10px 8px;
    }
  }

  & button {
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #262da8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &.disabled {
      background-color: gray;
      border-color: gray;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
// Прілоадер
.preloader {
  width: 10px;
  height: 10px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.preloader-main {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 5px solid #1a0759;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;

  @media (max-width: 655px) {
    translate: -50%;
    width: 60px;
    height: 60px;
  }
}
.search {
  width: 260px;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;

  &__input {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px;
    border: none;
    transition: all 0.4s;

    &:focus {
      border: none;
      outline: none;
      box-shadow: 0 1px 12px #b8c6db;
      -moz-box-shadow: 0 1px 12px #b8c6db;
      -webkit-box-shadow: 0 1px 12px #b8c6db;
    }
  }

  @media (max-width: 655px) {
    width: 200px;

    &__input {
      font-size: 14px;
      padding: 7px;
    }
  }
}
// Модальне вікно
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  background-color: rgba(0, 0, 0, 0.4);

  @media (max-width: 655px) {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 15;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

    & input {
      background: #eee;
      border-color: transparent;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;

      &:focus {
        border: 2px solid rgb(4, 4, 122);
        outline: none; /* чтобы убрать стандартную рамку фокуса */
      }
    }

    @media (max-width: 655px) {
      padding: 15px;
      gap: 15px;

      & input {
        padding: 12px 8px;
        width: calc(100% - 30px);
      }
    }
  }
  &__error {
    font-size: 16px;
    color: red;
  }

  &__title {
    font-size: 22px;

    @media (max-width: 655px) {
      font-size: 18px;
    }
  }

  &__input {
    width: 100%;
  }

  &__btn {
    width: 100%;
    height: 50px;
    cursor: pointer;

    background-color: #262da8;
    color: white;

    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-size: 18px;

    @media (max-width: 655px) {
      height: 35px;
      font-size: 14px;
    }
  }
}
</style>
