<template>
  <div class="error">
    <div class="preloader-main"></div>
    <div class="error__wrapper">
      <div class="error__image">
        <img src="../assets/image/error.jpg" alt="404" />
      </div>
      <div class="error__info">
        <h1>404</h1>
        <h2>OOOOPS...</h2>
        <h2>PAGE NOT FOUND</h2>
        <router-link :to="{ name: 'home' }">GO TO HOME</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404View",
  created() {
    setTimeout(function () {
      document.querySelector(".preloader-main").style.display = "none";
      document.querySelector(".error__wrapper").style.display = "flex";
    }, 800);
  },
};
</script>

<style lang="scss" scoped>
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
  }

  &__image {
    max-width: 700px;
    width: 100%;

    & img {
      object-fit: contain;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      color: rgb(24, 24, 88);
      font-size: 90px;
      font-weight: 700;
      letter-spacing: 15px;
    }

    & h2 {
      color: rgb(12, 12, 87);
      font-size: 38px;
      font-weight: 500;
    }

    & a {
      font-size: 25px;
      font-weight: 500;
      border: 3px solid rgb(12, 12, 87);
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      color: rgb(12, 12, 87);
      border-radius: 20px;
      max-width: 200px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.preloader-main {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 5px solid #1a0759;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1153px) {
  .error {
    &__wrapper {
      margin: 0 10px;
      flex-direction: column-reverse;
      gap: 10px;
    }

    &__image {
      max-width: 900px;
    }

    &__info {
      justify-content: center;
      align-items: center;
      gap: 25px;
    }
  }
}

@media (max-width: 485px) {
  .error {
    &__image {
      max-width: 495px;
    }

    &__info {
      justify-content: center;
      align-items: center;
      gap: 25px;

      & h1 {
        font-size: 50px;
      }

      & h2 {
        font-size: 30px;
      }

      & a {
        font-size: 20px;
        padding: 7px 12px;
        max-width: 100%;
      }
    }
  }
}
</style>
