<template>
  <div class="forma">
    <div class="preloader-main"></div>
    <div class="container" id="container">
      <div class="forma__wrapper forma__wrapper--signup">
        <form action="#">
          <h1 class="forma__title">Registration</h1>
          <span class="forma__label">use your E-mail to register</span>
          <input
            type="text"
            placeholder="Nickname"
            class="forma__field"
            v-model="register.nickname"
            @input="validationNickname"
            :class="{ 'is-invalid': valid.nickname }"
          />
          <span class="forma__error" v-if="valid.nickname">{{
            valid.nickname
          }}</span>
          <input
            type="email"
            placeholder="Email"
            class="forma__field"
            v-model="register.email"
            @input="validationEmail"
            :class="{ 'is-invalid': valid.email }"
          />
          <span class="forma__error" v-if="valid.email">{{ valid.email }}</span>
          <span class="forma__error" v-if="error.register">{{
            error.register
          }}</span>
          <input
            type="password"
            placeholder="Password"
            class="forma__field"
            v-model="register.password"
            @input="validationPassword"
            :class="{ 'is-invalid': valid.password }"
          />
          <span class="forma__error" v-if="valid.password">{{
            valid.password
          }}</span>
          <button
            :class="{ disabled: !validRegister() }"
            @click="handleRegister"
          >
            REGISTER
            <div class="preloader" v-if="preloaderRegister"></div>
          </button>
        </form>
      </div>
      <div class="forma__wrapper forma__wrapper--signin">
        <form action="#">
          <h1 class="forma__title">Authorization</h1>
          <span class="forma__label">use your account</span>
          <input
            type="email"
            placeholder="Email"
            class="forma__field"
            v-model="register.email"
            @input="validationEmail"
            :class="{ 'is-invalid': valid.email }"
          />
          <span class="forma__error" v-if="valid.email">{{ valid.email }}</span>
          <input
            type="password"
            placeholder="Password"
            class="forma__field"
            v-model="register.password"
            @input="validationPassword"
            :class="{ 'is-invalid': valid.password }"
          />
          <span class="forma__error" v-if="valid.password">{{
            valid.password
          }}</span>
          <span class="forma__error" v-if="error.login">{{ error.login }}</span>
          <button :class="{ disabled: !validRegister() }" @click="handleLogin">
            LOGIN
            <div class="preloader" v-if="preloaderLogin"></div>
          </button>
        </form>
      </div>
      <div class="forma__overlays">
        <div class="forma__overlay">
          <div class="forma__panel forma__panel--left">
            <h1>Welcome!</h1>
            <p>
              To stay in touch with us, please log in to the system with your
              personal information.
            </p>
            <button class="forma__ghost" @click="signIn()">
              AUTHORIZATION
            </button>
          </div>
          <div class="forma__panel forma__panel--right">
            <h1>Hi, friend!</h1>
            <p>
              Enter your personal details and start your communication journey
            </p>
            <button class="forma__ghost" @click="signUp()">REGISTRATION</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/api/api";

export default {
  name: "RegistrationView",
  data: () => ({
    register: {
      email: "",
      password: "",
      nickname: "",
    },
    valid: {
      nickname: "",
      email: null,
      password: null,
    },
    error: {
      register: null,
      login: null,
    },
    preloader: false,
    preloaderRegister: false,
    preloaderLogin: false,
  }),

  created() {
    // Прілоадер при створенні
    setTimeout(() => {
      document.querySelector(".preloader-main").style.display = "none";
      document.querySelector(".container").style.display = "flex";
    }, 1000);
  },

  methods: {
    // Переключення між вікнами та очистка полів при переходах
    signUp() {
      const container = document.getElementById("container");
      container.classList.add("right-panel-active");
      Object.keys(this.register).forEach((key) => {
        this.register[key] = "";
      });
      Object.keys(this.valid).forEach((key) => {
        this.valid[key] = null;
      });
    },

    // Переключення між вікнами та очистка полів при переходах
    signIn() {
      const container = document.getElementById("container");
      container.classList.remove("right-panel-active");
      Object.keys(this.register).forEach((key) => {
        this.register[key] = "";
      });
      Object.keys(this.valid).forEach((key) => {
        this.valid[key] = null;
      });
      this.valid.nickname = "";
    },

    // Валідація вводу поля нікнейм
    validationNickname() {
      if (
        (this.register.nickname.length < 2 &&
          this.register.nickname.length > 0) ||
        this.register.nickname.length > 50
      ) {
        this.valid.nickname =
          "First name must be between 2 and 50 characters long!";
      } else if (this.register.nickname.length == 0) {
        this.valid.nickname = "First name is required!";
      } else {
        this.valid.nickname = "";
      }
    },

    // Валідація вводу поля пошти
    validationEmail() {
      if (
        (this.register.email.length < 7 && this.register.email.length > 0) ||
        this.register.email.length > 150
      ) {
        this.valid.email = "Email must be between 7 and 150 characters long!";
      } else if (this.register.email.length == 0) {
        this.valid.email = "Email is required!";
      } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(this.register.email)) {
        this.valid.email = "Please enter a valid email address!";
      } else {
        this.valid.email = "";
      }
    },

    // Валідація вводу поля пароль
    validationPassword() {
      if (
        (this.register.password.length < 9 &&
          this.register.password.length > 0) ||
        this.register.password.length > 32
      ) {
        this.valid.password =
          "Password must be between 8 and 32 characters long!";
      } else if (this.register.password.length == 0) {
        this.valid.password = "Password is required!";
      } else {
        this.valid.password = "";
      }
    },

    // Перевірка на заповнення полів регістрації
    validRegister() {
      const result = Object.values(this.valid).every((value) => value === "");
      return result;
    },

    // Відправлення запита на регітрацію
    handleRegister(event) {
      event.preventDefault();
      this.preloaderRegister = true;
      axios
        .post("/auth/register", {
          email: this.register.email,
          password: this.register.password,
          nickname: this.register.nickname,
        })
        .then((res) => {
          this.preloaderRegister = false;
          const data = res.data;
          console.log(data);
          const user = {
            id: data.user.id,
            nickname: data.user.nickname,
            email: data.user.email,
          };
          localStorage.setItem("user", JSON.stringify(user));
          localStorage.setItem("access_token", data.access_token);
          localStorage.setItem("refresh_token", data.refresh_token);
          this.$router.push({ name: "home" });
        })
        .catch((e) => {
          const er = e.response.data.errors;
          this.error.register = er.email.constraints[0];
          console.log(e);
        });
    },

    // Відправлення запита на логін
    handleLogin(event) {
      event.preventDefault();
      this.preloaderLogin = true;
      axios
        .post("/auth/login", {
          email: this.register.email,
          password: this.register.password,
        })
        .then((res) => {
          this.preloaderLogin = false;
          const data = res.data;
          const user = {
            id: data.user.id,
            nickname: data.user.nickname,
            email: data.user.email,
          };
          localStorage.setItem("user", JSON.stringify(user));
          localStorage.setItem("access_token", data.access_token);
          localStorage.setItem("refresh_token", data.refresh_token);
          this.$router.push({ name: "home" });
        })
        .catch((e) => {
          this.error.login = e.response.data.message;
          console.log(e);
        });
    },
  },
};
</script>

<style scoped lang="scss">
* {
  box-sizing: border-box;
}

#app {
  overflow-y: hidden;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 480px;
  display: none;

  @media (max-width: 655px) {
    max-width: unset;
  }
}

.forma {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0px;
  padding: 0 15px;
  overflow-x: scroll;
  @media (max-width: 655px) {
    display: inline-flex;
  }

  &__title {
    font-weight: bold;
    margin: 0;
  }

  &__field {
    background: #eee;
    border-color: transparent;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;

    &:focus {
      border: 2px solid rgb(4, 4, 122);
      outline: none;
    }
  }

  &__label {
    color: #15196d;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  & p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  &__label {
    font-size: 12px;
  }

  & a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }

  & button {
    border-radius: 20px;
    border: 1px solid #262da8;
    background: #001fa9;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }

    &.forma__ghost {
      background: transparent;
      border-color: #fff;
    }
  }

  &__error {
    color: red;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

    & form {
      background: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      & h1 {
        color: #0c1b5d;
      }

      & button {
        margin-top: 20px;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;

        &.disabled {
          background-color: gray;
          border-color: gray;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }

    &--signup {
      left: 0;
      width: 50%;
      z-index: 1;
      opacity: 0;
    }

    &--signin {
      left: 0;
      width: 50%;
      z-index: 2;
    }
  }

  &__overlays {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

    & button {
      cursor: pointer;
    }
  }

  &__overlay {
    background: #75c3ed;
    background: linear-gradient(to right, #2baaff, #3129c0) no-repeat 0 0 /
      cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
  }

  &__panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;

    &--left {
      transform: translateY(-20%);
    }

    &--right {
      right: 0;
      transform: translateY(0);
    }
  }
}

.preloader-main {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 5px solid #1a0759;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.preloader {
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.is-invalid {
  border-color: red;
}

/* Move signin to right */
.container.right-panel-active .forma__wrapper--signin {
  transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .forma__overlays {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .forma__wrapper--signup {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .forma__overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .forma__panel--left {
  transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .forma__panel--right {
  transform: translateY(20%);
}

@media (max-width: 800px) {
  .forma {
    & button {
      padding: 12px 35px;
    }

    &__wrapper {
      & form {
        padding: 0 20px;
      }
    }

    &__panel {
      padding: 0 20px;
    }
  }
}
</style>
